#navText
{
  color: black;
}
.display-4
{
  font-size: 55px;
  color: rgba(0, 0, 0);
  text-align: center;
}
.lead
{
  font-size: 40px;
color: rgba(0,0,0)
}
.jmbo
{
  margin-top: 25%;
  margin-bottom: 25%;
}
.indx{
  background-image: url("img/z.jpg");

  background-size: cover;
  text-align: center;
}
.footer
{
    background-color: rgba(0, 186, 237);

    padding: 10px 0 20px 0;
    font-size: 20px;

}
.address
{
    font-size: 80%;
    margin: 0;
    color: #0F0F;
}
.copyright
{
  text-align: center;
}



.row-header
{
    margin: 0 auto;
    padding: 0 auto;
}
.row-content
{
    margin: 0 auto;
    padding: 50px 0 50px 0px;
        border-bottom: 1px ridge;
        min-height: 400px;
}


input[type="radio"]{
  margin: 0 10px 0 10px;
}
.tab-content
{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.versions li
{
color: rgba(0, 0, 0);
font-size: 20px;
}
p
{
  font-size: 30px;
}
#navText
{
  font-size: 20px;
}
.jmbo-abt
{
  margin-top: 15%;
  margin-bottom: 15%;
}
.goals li{
  font-size: 25px;

}
